<h1 class="text-center"><%= link_to @company.name, company_path(@company) %></h1>

<%= render partial: 'companies/user_details', locals: {users: @users} %>
<%= render partial: 'companies/report', locals: {report: @report} %>